ion-tab-button {
    text-indent: 50px;
    -ms-text-size-adjust:50px;

      font-size: 16px;
      color: #06081f;
      padding-right: 0px;
}
.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
