<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content > 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header> 
    <ion-tabs>
   <ion-tab-bar slot="top" >
    <ion-tab-button page="add-statement" [routerLink]="['/add-statement']">Income </ion-tab-button>
    <br>
    <br>
    <ion-tab-button page="add-statement" [routerLink]="['/add-statement']">Expense </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>  
</ion-content>
